/*Perfil*/
.profile{
    padding: 2%;
    background-color:#3c3e44;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    border-radius: 15px;
}
.titulos{
    font-size: 25px;
    color: bisque;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.subtitulos{
    font-size: 20px;
    color: rgb(207, 146, 12);
    font-family: 'Times New Roman';
}


/* Sombreado de Botones */
.boton:hover{
    background-color: #038bfa;
    color:#000;
}

/* Botones de regreso */
.boton{
    width: auto;
    height: auto;
    border-radius: 15px;
    background-color: rgba(255, 230, 0, 0.87);
    border:none;
    font-size: 20px;
    font-family: Impact;
    color: rgb(33, 19, 95);
    text-decoration: none;
}
/* Lista de personajes - Index */
.body{
    background-color: #202329;
}
.container{
    padding-left: 80px;

}
.table{
    display: inline-block ;   
    margin:15px;
    width: 520px;
    height: auto;
    background-color:#3c3e44;
    border-radius: 20px;
    /* border: solid 1px; */
}
.separator{
    display: flex;
    line-height: 25px;
    margin:auto;
}

#definitive{
    display: inline;
    padding:15px;
    margin:auto;
}


/* Datos Personaje */
#img_main{
    width: 250px;
    border-radius: 20px;
}
#img_main:hover{
    opacity: .5;
}

#title{
    color:  rgb(214, 218, 9);
    font-size: 70px;
    -webkit-text-stroke: 2px rgb(255, 208, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#name_index{
    font-size: 30px; 
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#name_index:hover{
    color:#fffb00;
}


#names_index_live{
    font-size: 15px;
    color: white;
    font-family: 'Franklin Gothic Medium'; 
}
#names_index_dead{
    font-size: 15px;
    color: white;
    font-family: 'Franklin Gothic Medium';
}   
#names_index_unknown{
    font-size: 15px;
    color: white;
    font-family: 'Franklin Gothic Medium';
}
#l1{
    color: rgb(22, 206, 6);
    height: 10px;
    font-size: 20px;
}
#l2{
    color: rgba(255, 0, 0, 0.925);
    height: 10px;
    font-size: 20px;
}
#l3{
    color: rgba(255, 187, 0, 0.925);
    height: 10px;
    font-size: 20px;
}




#subtitles{
    font-size: 14px;
    color: rgb(189, 188, 188);
    font-family:'Lucida Sans' ;
}
#subnames_index{
    font-size: 17px;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
} 


/* Foto del menú */
#photo{
    float: inline-start;
    margin-top: 70px;
    text-align: center;
}
#photo img{
    border: solid 2px white;
    border-radius: 25px;
}

/* Botones de Menú */
.section{
    display:flex;
    margin-top: 20px;
}
.li{
    list-style: none;
    margin:auto;
}
.options{
    display: block;
    padding:8px;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    font-family: Impact;
    color: rgb(255, 255, 255);
    -webkit-text-stroke:1px rgb(3, 82, 82);
    background-color: #2d2973;
    border-radius: 10px;
    border: solid 1px white;
}
/* Sombreado de Botones */
.section .li .options:hover{
    background-color: #2586d7;
    margin-top:-2px;
    padding-bottom:12px;
}

/* Imagen del Menú */
.menu{
    background-image: url('./images/fondo.png');
    background-size: cover;
}



/*Mundial Qatar 2022*/
#channel {
    color: #fff;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    -webkit-text-stroke: 2px rgb(255, 208, 0);
}
