{% block content %}

<head>
    <title>Rick And Morty</title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <link rel="shortcut icon" href="/static/images/logo.jpg" />
</head>
<a class="boton" href="{{url_for('rick_morty.index')}}">
    <button class="boton">
        Back to menu
    </button>
</a>
<center>
    <h1 id="title">List of characters</h1>
</center>

<body class="body">
    <div class="container">
        {% for i in ri_mo %}
        <div class="table">
            <div class="separator">
                <a id="name_index" href="{{ url_for('rick_morty.informacion', id=i.id) }}">
                    <img class="img" src="{{ i.img_url }}" id="img_main" />
                    <div id="definitive">
                        <div id="name_index">
                            {{ i.name }}
                </a>
            </div>
            <hr>
            <div id="subnames_index">
                {% if i.status == "Alive" %}
                <li id="l1"><span id="names_index_live">{{ i.status }} - {{i.species}}</span></li>
                {% elif i.status == "Dead" %}
                <li id="l2"><span id="names_index_dead">{{ i.status }} - {{i.species}}</span></li>
                {% else %}
                <li id="l3"><span id="names_index_unknown">{{ i.status }} - {{i.species}}</span></li>
                {% endif %}
                <br>
                <span id="subtitles">Last known location:</span> <br> {{ i.location }} <br>
                <span id="subtitles">First Seen in:</span> <br> {{ i.episode }}
            </div>
        </div>
    </div>
    </div>
    {% endfor %}
    </div>
</body>
{% endblock content %}