{% block content %}
<head>
<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
<link rel="shortcut icon" href="/static/images/logo.jpg" />  
<title>Perfíl de {{user.name}}</title>
</head>
<body class="body">
<button class="boton"> <a class="boton" href="{{url_for('rick_morty.index')}}">
    Regresar
</button>    </a>

<div class="profile"> 
    <img style="border-radius:15px;" class="img" src="{{ user.img_url }}" />
    <br><br>
    <span class="titulos">Nombre: </span> <span class="subtitulos">{{ user.name }}</span><br>
    <span class="titulos">Estado: </span><span class="subtitulos">{{ user.status }}</span><br>
    <span class="titulos">Especie: </span> <span class="subtitulos">{{ user.species }}</span><br>
    <span class="titulos">Género: </span> <span class="subtitulos"> {{ user.gender }}</span>
</div>

</body>
{% endblock %}